.App {
    padding: 0 0 0 0;
    text-align: justify;
    text-justify: auto;
    /*This here will keep the bottom bar always at the bottom even if the content is short*/
    display: flex; 
    flex-direction: column; 
    height: 100vh;
    background: whitesmoke;
}