/*Include slideshow CSS*/
@import "react-slideshow-image/dist/styles.css";

/*Normal CSS*/

.project-container {
  color: white;
}

.project-title {
  padding: 2rem 3rem 0 3rem;
  /* add styles befitting a title */
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.project-intro{
  padding: 0rem 3rem 4rem 3rem;
  background-image: linear-gradient(blueviolet, black);;
  height: 90vh;
}

.project-toptop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.project-blurb{
  width: 80%;
}

.project-links {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start ;
    padding: 0 5% 0 0;
}

.project-links > div {
  padding: 0.25rem 0 0.25rem 0;
}

.project-links a {
  color:blue;
}

.project-slides{
  padding: 0.5rem 0 0 0;
}

/*Slide CSS Below*/
.each-slide > div {
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  justify-content: center;
  background-size: contain;
  background-position: center;
  height: 60vh;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: black;
  opacity: 0.1;
  text-align: center;
}

.each-slide span:hover {
  opacity: 1;
}

/* Continue normal CSS :)*/

.project-description {
  padding: 0 3rem;
  margin-top: 3rem;
  resize: horizontal;
  overflow: auto;
  border: 1px solid #ccc;
  min-width: 10rem;
}

.project-indepth {
  background-color: black;
  padding: 2rem 3rem 1.2rem 3rem;
  color: #efefef;
}